@import '../../constants.module.scss';
.feedback {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
}

.button {
	width: 65%;
	height: 44px;

	height: 44px;
	padding: 8px 32px 8px 32px;
	border-radius: 4px;

	border: none;
	color: $button-text-color;
	background-color: $blue;
}
input {
	padding: 4px 12px 4px 12px;
	border: 1px solid $disable-grey;
	display: block;
	width: 40vw;
	height: 44px;
	border-radius: 4px;
}
textarea {
	padding: 12px;
	border: 1px solid $disable-grey;
	display: block;
	width: 40vw;
	height: 88px;
	border-radius: 4px;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	font-size: 14px;
	line-height: 19.6px;

	color: $placeholder-text;
}

label {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
}

button:disabled {
	opacity: 0.5;
}
.feedback__name,
.feedback__email,
.feedback__phone,
.feedback__comment {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.form-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	p {
		font-weight: 400;
		line-height: 23.2px;
		text-align: center;
		a {
			padding-bottom: 4px;
			color: $blue;
			border-bottom: 1px solid $blue opacity(0.2);
		}
	}
}

@media (max-width: 320px) {
}
