@import '../../constants.module.scss';

.feedback {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	padding: 64px 120px 88px 120px;
}

.feedback-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	h2 {
		font-size: 34px;
		font-weight: 500;
		line-height: 42.5px;
		letter-spacing: -0.01em;
		text-align: center;
	}
	p {
		font-family: Roboto;
		font-size: 18px;
		line-height: 25.2px;
		text-align: center;
	}
}

.feedback__fields {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
}

.feedback-bottom {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	justify-content: center;
	p {
		font-weight: 400;
		line-height: 23.2px;
		text-align: center;
		a {
			padding-bottom: 4px;
			color: $blue;
			border-bottom: 1px solid $blue opacity(0.2);
		}
	}
}

.button {
	width: 386px;
	max-width: 40vw;
	height: 44px;
	padding: 8px 32px 8px 32px;
	border-radius: 4px;
	border: none;
	color: $button-text-color;
	background-color: $blue;
}
button:disabled {
	opacity: 0.5;
}
input {
	padding: 4px 12px 4px 12px;
	border: 1px solid $disable-grey;
	display: block;
	width: 40vw;
	height: 44px;
	border-radius: 4px;
}
textarea {
	padding: 12px;
	border: 1px solid $disable-grey;
	display: block;
	width: 40vw;
	height: 88px;
	border-radius: 4px;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	font-size: 14px;
	line-height: 19.6px;

	color: $placeholder-text;
}

label {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
}

.feedback__name,
.feedback__email,
.feedback__phone,
.feedback__comment {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

@media (max-width: 320px) {
}
