@import '../../constants.module.scss';

.card-short {
	display: flex;
	flex-direction: column;
	width: 1200px;
	max-height: 394px;
	padding: 40px;
	gap: 32px;
	border-radius: 16px;
	opacity: 0px;
	box-shadow: 0px 0px 16px 0px #1e1e1e1a;
	box-sizing: border-box;
	color: $main-text-color;
	overflow: hidden;
	position: relative;
}

.card-full {
	height: auto;
	overflow: visible;
	max-height: fit-content;
}

.content__header {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-content: space-between;
	a {
		color: $main-text-color;
		text-decoration: none;
	}
}

.content__header__top {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 12px;
	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: -0.01em;
		text-align: center;
		align-self: center;
		margin: 0;
	}

	&__logo {
		width: auto;
		height: 40px;
	}
}

.content__header__bottom {
	ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		gap: 48px;
		padding: 0;
		li {
			display: flex;
			gap: 8px;
			> :nth-child(1) {
				color: $characteristic-color;
				line-height: 23.2px;
			}
			> :nth-child(2) {
				font-weight: 500;
				line-height: 22.4px;
			}
		}
	}
}

.description {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 760px;
}

.requirements {
	display: flex;
	flex-direction: column;
	gap: 8px;
	p {
		font-weight: 500;
		line-height: 22.4px;
	}
	ul {
		display: flex;
		flex-direction: column;
		padding-left: 25px;
		gap: 8px;
	}
}

.button {
	width: auto;
	height: 44px;

	padding: 8px 32px 8px 32px;
	gap: 8px;
	border-radius: 4px;
	opacity: 0px;
	border: none;
	color: $button-text-color;
}

.button-respond {
	background-color: $respond-button-color;
	position: absolute;
	right: 0;
}

.button__more-info {
	padding: 0;
	height: 24px;
	background: none;
	color: $blue;
	border: none;
}

.hidden-part-block {
	position: relative;
	padding-bottom: 32px;
	display: flex;
	position: absolute;
	bottom: 0;
	width: 1120px;
	height: 160px;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.05) 12.82%,
		rgba(255, 255, 255, 0.98) 50.51%,
		rgba(255, 255, 255, 0.98) 56.86%,
		#ffffff 88.19%
	);

	> :first-child {
		display: flex;
		align-items: center;
		gap: 4px;
	}
}

.button-expand-block {
	display: flex;
	width: 1120px;
	justify-content: center;
	> :first-child {
		display: flex;
		align-items: center;
		gap: 4px;
	}
}

.more-info__icon path {
	fill: $blue;
}
