@import './constants.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: Roboto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	word-break: normal;
}

#root {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	min-width: 300px;
	min-height: 100vh;
	font-size: 16px;
	font-weight: 400;
	line-height: 23.2px;
	text-align: left;
}

h1 {
	font-size: 48px;
	font-weight: 500;
	line-height: 58px;
	text-align: left;
}

.app {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.top {
	max-width: 1440px;

	padding: 64px 120px 104px 120px;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.filters {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.filters-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 32px;
	column-gap: 16px;
	align-items: end;
	div {
		width: 265px;
	}
}
label {
	//display: block;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	padding-bottom: 4px;
}

select {
	width: 100%;
	height: 44px;
	padding: 4px 12px 4px 12px;
	border-radius: 4px;
	border: 1px solid $disable-grey;
	opacity: 0px;
	appearance: none;
}
select.not-select {
	color: $disable-grey;
}

option {
	width: 150px;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
}

.button {
	width: fit-content;
	height: 44px;
	padding: 8px 32px 8px 32px;
	border-radius: 4px;
	opacity: 0px;
	border: none;
	color: $button-text-color;
	background-color: $blue;
}

.button__search {
	font-size: 15px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-align: center;
}

.close-block {
	display: flex;
	gap: 4px;
	align-items: center;
	svg {
		padding: 0 0 4px 0;
	}
	svg path {
		fill: $blue;
	}
}
.button__clear-filters {
	padding: 0 0 4px 0;
	height: 24px;
	width: fit-content;
	background-color: $button-text-color;
	border: none;
	border-radius: 0px;
	color: $blue;
	border-bottom: 1px solid rgba($blue, 0.2);
}

footer {
	width: 100%;
	background-color: $form-color;
	bottom: 0;
	margin: 0;
}

@media only screen and (max-width: 320px) {
	h1 {
		//styleName: mobile/h1;
		font-family: Roboto;
		font-size: 34px;
		line-height: 40.8px;
		letter-spacing: -0.01em;
	}

	select {
		width: 288px;
	}

	.wrapper {
		max-width: 320px;
	}
	.top {
		padding: 32px 16px 32px 16px;
	}

	.filters {
		gap: 16px;
	}
	.filters-card {
		gap: 16px;
		div {
			width: 288px;
		}
	}
	main {
		gap: 20px;
	}
}

@media (min-width: 1440px) {
}
